.wrap {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #232323;
  height: 100vh;
}

.contentWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--gapB);
  letter-spacing: -0.085rem;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  position: relative;
}
header .logo {
  display: flex;
  width: 80px;
  align-items: center;
  justify-content: center;
}
header .logo a {
  width: 85%;
}
header .gnb {
  display: flex;
}
header .gnb a {
  padding: 0 1.25rem;
}
header .gnb a.on {
  color: var(--colorMainP);
  position: relative;
}
header .gnb a::before {
  position: absolute;
  content: "";
  width: 60%;
  height: 1px;
  background-color: var(--colorMainP);
  top: 120%;
  left: 50%;
  transform: translate(-50%);
  display: none;
}
header .gnb a.on::before {
  display: block;
}

/* 일괄종료 */
.Home,
.About,
.Project,
.Connect {
  display: none;
}

.Home.on {
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 150px);
  justify-content: center;
  align-content: center;
}
.Content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 600;
}

.Home h2 {
  font-size: 6.75rem;
  width: 100%;
  text-align: center;
}

.Home p {
  font-size: 3.25rem;
}

.Home .slideText {
  color: var(--colorMainP);
}

.Home .btnCon {
  display: flex;
  justify-content: center;
}

/* About */
.About.on {
  display: block;
  width: 100%;
}
.aboutCommon {
  display: flex;
  justify-content: space-between;
  padding: var(--gapB) 0;
}
.aboutCommonleft {
  width: 50%;
}
.aboutCommontitle {
  font-size: 1.5rem;
  color: var(--colorMainP);
  font-weight: 600;
  position: relative;
  margin-bottom: 1rem;
}
.aboutCommontitle::after {
  content: "";
  position: absolute;
  width: 75%;
  height: 2px;
  background-color: #fff;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
.aboutCommonright {
  width: 40%;
}
.About h3 {
  margin: 0.5rem 0;
  padding-left: 0.75rem;
  position: relative;
  font-weight: 500;
  font-size: 1.25rem;
}
.aboutTop .skillTit::before {
  content: "( 아이콘을 클릭해주세요 )";
  position: absolute;
  font-size: 0.75rem;
  color: #ffa51f;
  right: 0;
  font-weight: 300;
  top: -5px;
}

.aboutTop .skillList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.aboutTop .skillList li {
  padding: 0 0.75rem 0 0;
  cursor: pointer;
  transform: scale(1);
  transition: 0.3s;
}

.aboutTop .skillList li img[alt*="GITHUB"] {
  width: 95%;
}

.aboutTop .skillList li.on {
  transform: scale(1.1);
}
.aboutTop .tapBox {
  margin-top: 3rem;
}
.aboutTop .skillTextCon {
  font-size: 1rem;
  display: none;
}
.aboutTop .skillTextCon.on {
  display: block;
}

.aboutTop .skillTextCon h3::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
}
.aboutTop .skillText {
  padding-left: 2rem;
  list-style: circle;
}

.aboutTop .skillText li {
  line-height: 1.75;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.aboutTop .skillText.skillImgCon {
  list-style: none;
  display: flex;
}
.aboutTop .skillText.skillImgCon li {
  padding: 0 0.75rem;
}
.aboutTop .skillText.skillImgCon li img {
  width: 100%;
}

.aboutTop .profile {
  padding-right: 2rem;
}
.aboutTop .profileBox {
  position: relative;
  padding-top: 100%;
  z-index: 10;
}
.aboutTop .profileBox::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid #ddd;
  top: 3%;
  left: 5%;
  z-index: -1;
}
.aboutTop .profileBox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  height: 100%;
}

.aboutBottom .contentCon {
  display: flex;
}

.aboutBottom .aboutCommonright > h2::after {
  width: 60%;
}

.aboutBottom .contentList {
  line-height: 1.2;
  margin-right: 2rem;
}

.aboutBottom .date::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
}

.aboutBottom .content {
  padding: 0.5rem 0;
  font-size: 0.85rem;
  letter-spacing: 0.05rem;
}
/* projects */

.Project.on {
  display: block;
  width: 100%;
}
.Project h2 {
  font-size: 6.25rem;
  font-weight: 100;
  color: #ffffff50;
}
.Project .contentCon {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2rem 0;
}
.Project .contentCon ul {
  width: 350%;
  margin-top: 1rem;
  display: flex;
}
.Project .contentCon li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.Project .contentCon li:nth-of-type(3) ~ li {
  display: none;
}
.Project .contentCon li h2 {
  width: 100%;
}
.Project .title {
  font-size: 2rem;
}

.Project .left {
  width: 50%;
}

.Project .subtitle {
  font-weight: 300;
  font-size: 0.85rem;
  color: #ffffff50;
  letter-spacing: 1px;
  margin-bottom: 5rem;
}
.Project .content {
  padding: 0 0 0.75rem 0;
}
.Project .lib {
  padding: 0 0 1rem 0;
}
.Project .hastag {
  display: flex;
}
.Project .hastag span {
  margin-right: 0.5rem;
  letter-spacing: 1px;
  font-size: 0.85rem;
}
.Project .btnCon {
  display: flex;
}
.Project .btnCon .btn {
  margin-top: 1rem;
  margin-right: 0.5rem;
}
.Project .right {
  width: 50%;
  padding-top: 30%;
  position: relative;
}
.Project .right img {
  position: absolute;
  top: 50%;
  left: 20%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}
.Project .project4 .right img {
  left: 50%;
}
.Project .project5 .right img {
  top: 35%;
}

.Project .project2 img {
  /* width: 40%; */
  top: 40%;
}
.Project .project3 img {
  width: 60%;
}

.Project .project4 .left {
  order: 1;
}
.Project .project4 .content span,
.Project .project6 .content span {
  padding-left: 0.5rem;
  position: relative;
  letter-spacing: 1px;
}

.Project .project4 .right {
  order: 0;
}
/* 도트 */
.Project .contentCon .dotnavi {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-120px);
}
.Project .contentCon .dotnavi span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff20;
  margin-right: var(--gapS);
  position: absolute;
  cursor: pointer;
}
.Project .contentCon .dotnavi span:hover {
  background-color: #00b2ff50;
}
.Project .contentCon .dotnavi span:first-of-type {
  background-color: #fff;
}

/* ConneEct */
.Connect.on {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-content: center;
  height: calc(100vh - 150px);
}
.Connect > * {
  width: 100%;
}
.Connect .txt {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.2;
  padding: 0.5rem 0;
}
.Connect .title {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 0;
}
.Connect .alink {
  color: var(--colorMainP);
}
.Connect .icon {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Connect .icon a {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: 60px;
  transform: scale(1);
}
.Connect .icon a:hover {
  transform: scale(1.1);
}

.Connect .tistoryBtn img {
  width: 70%;
}
/* footer */
.copyWriter {
  position: absolute;
  bottom: 2px;
}

@media (max-width: 1080px) {
  /* Project반응형 1080PX */
  .Project h2 {
    font-size: 7vw;
  }
  .Project .title {
    font-size: 3vw;
  }
  .Project .subtitle {
    font-size: 1.35vw;
  }
}
@media (max-width: 880px) {
  /* HEADER반응형 880PX */
  header .gnb a {
    padding: 0 1rem;
  }
  /* HOME반응형 880PX */
  .Home h2 {
    font-size: 10vw;
  }

  .Home p {
    font-size: 5vw;
  }
  /* about반응형 880px */
  .aboutTop {
    flex-wrap: wrap;
    justify-content: center;
  }
  .aboutCommonleft {
    width: 100%;
  }
  .aboutTop .aboutCommonleft {
    order: 1;
    margin-top: var(--gapB);
  }
  .aboutTop .profile {
    order: 0;
    width: 60%;
  }
  .aboutBottom {
    flex-wrap: wrap;
  }

  .aboutBottom .aboutCommonleft {
    margin-bottom: var(--gapB);
  }
  .aboutBottom .contentList:nth-of-type(2) {
    margin-right: 0;
  }
  .aboutBottom .aboutCommonleft .contentTitle {
    font-size: 0.85rem;
  }
  .About h3 {
    font-size: 1rem;
  }
  .aboutBottom .aboutCommonright {
    width: 100%;
  }

  .aboutBottom .aboutCommonright > h2::after {
    width: 75%;
  }

  .aboutBottom .aboutCommonright .contentList {
    margin-right: calc(var(--gapB) * 2);
  }
  /* Project반응형 880PX */
  .Project .contentCon {
    padding: 0 0 var(--gapB) 0;
    /* border: 4px solid dodgerblue; */
  }
  .Project .contentCon ul {
    margin-top: 0;
  }

  .Project .left {
    width: 100%;
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: -50px;
  }

  .Project .project1 {
    padding-bottom: var(--gapS);
  }

  .Project h2 {
    font-size: 8vw;
  }
  .Project .title {
    font-size: 1.75rem;
  }
  .Project .subtitle {
    font-size: 1rem;
    margin-bottom: var(--gapS);
  }
  .Project .content {
    padding: 0;
    margin-bottom: var(--gapS);
    font-size: 1rem;
  }
  .Project .lib {
    padding: 0;
    margin-bottom: var(--gapS);
    font-size: 0.75rem;
  }
  .Project .right {
    width: 100%;
    order: 0;
    overflow: hidden;
    padding-top: 50%;
    margin-bottom: var(--gapB);
    margin-left: -25px;
  }
  .Project .right img {
    width: 80%;
    left: 46%;
  }
  .Project .project2 img {
    top: 50%;
    width: 75%;
  }

  .Project .project3 img {
    width: 55%;
  }
  .Project .project4 img {
    width: 95%;
  }
  .Project .project5 img {
    width: 70%;
  }
  .Project .project5 .right img {
    top: 50%;
  }
  .Project .project6 img {
    width: 75%;
  }
  /* connect반응형 880px */
  .Connect .txt {
    font-size: 2.4vw;
    padding: 0.75vw 0;
  }
  .Connect .title {
    font-size: 3.7vw;
    font-weight: bold;
    padding: 1vw 0;
  }
  .Connect .icon a {
    width: 50px;
  }
  /* footer반응형 880px */
  .copyWriter.block {
    position: static;
    padding: 0.5rem 0;
  }
}

@media (max-width: 480px) {
  /* HEADER반응형 480PX */
  .header {
    display: block;
    flex-wrap: wrap;
    height: 90px;
  }
  .header .logo {
    width: 50px;
    margin-left: calc(var(--gapS) / 2);
    margin-top: var(--gapS);
  }
  .header .gnb {
    width: 100%;
    padding-top: var(--gapS);
  }
  .header .gnb a {
    font-size: 3.5vw;
    padding: 0 5vw;
  }

  /* HOME반응형 480PX */
  .Home.on {
    height: calc(100vh - 220px);
  }
  /* about반응형 480px */
  .aboutTop .aboutCommonleft {
    order: 1;
    width: 100%;
    margin-top: var(--gapB);
  }
  .aboutCommontitle {
    font-size: 1.25rem;
  }
  .aboutTop .skillList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  .aboutTop .skillList li {
    padding: 0 0.5rem 0 0;
    transition: 0.3s;
    width: 45px;
  }
  .aboutTop .tapBox {
    margin-top: 1rem;
  }
  .About h3 {
    margin: 0 0 0.5rem 0;
  }
  .aboutTop .skillText {
    font-size: 0.85rem;
  }
  .aboutBottom .contentCon {
    flex-wrap: wrap;
  }
  .aboutBottom .contentList {
    margin-bottom: var(--gapS);
  }
  .aboutCommontitle::after {
    width: 58%;
  }
  .aboutBottom .aboutCommonright > h2::after {
    width: 58%;
  }
  /* Project반응형 480px */
  .Project h2 {
    font-size: 2.5rem;
  }
  .Project .title {
    font-size: 1.25rem;
  }
  .Project .subtitle {
    font-size: 0.75rem;
    margin-bottom: var(--gapS);
  }
  .Project .content {
    padding: 0;
    margin-bottom: var(--gapS);
    font-size: 0.85rem;
  }
  .Project .hastag {
    flex-wrap: wrap;
    padding: 0 2rem;
    justify-content: center;
  }
  .Project .hastag span {
    font-size: 0.75rem;
  }
  .Project .contentCon .dotnavi span {
    width: 10px;
    height: 10px;
  }
  .Project .left {
    margin-left: -30px;
  }
  .Project .contentCon .dotnavi {
    bottom: 4.5rem;
  }
  .Project .btnCon .btn {
    margin-top: -2rem;
    margin-right: 0.5rem;
  }

  /* Connet반응형 480px */
  .Connect.on {
    height: calc(100vh - 220px);
  }
  .Connect .txt {
    font-size: 0.85rem;
    padding: 0.75vw 0;
  }
  .Connect .title {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1vw 0;
  }
}

@media (max-width: 380px) {
  /* Project반응형 380PX */
  .Project {
    white-space: nowrap;
  }

  .Project .title {
    font-size: 1rem;
  }
  .Project .subtitle {
    font-size: 0.65rem;
  }
  .Project .content {
    font-size: 3.7vw;
  }
  .Project .icon {
    margin-top: 0;
  }
  .Project .icon a {
    padding: 0.75rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Project .icon a img {
    width: 80%;
  }

  /* FOOTER반응형 380PX */
  .copyWriter {
    font-size: 0.75rem;
  }
}
